<app-default-page>

<div class="mb-20">
  <div class="shadow-lg shadow-gray-700/20 mb-24">
    <img src="assets/images/banner-sistema-solar.png" alt="banner" />
  </div>

  <div *ngFor="let item of conteudo;let i = index" class="container mx-auto w-10/12 max-[640px]:w-11/12">
    <h2 class="text-3xl font-semibold my-8">{{ item.title }}</h2>

    <ng-container *ngIf="i % 2 === 0; else imageLeft">
      <div class="lg:flex items-center">
        <p class="text-lg text-justify mb-4 lg:mb-0 lg:mr-5 lg:w-1.5/2">
          {{ item.content }}
        </p>
        <img
          [src]="item.src"
          class="rounded-xl lg:w-350 lg:mb-4 max-[640px]:w-full mx-auto shadow-lg shadow-gray-950"
          width="350px"
          alt="Imagem"
        />
      </div>
    </ng-container>

    <ng-template #imageLeft>
      <div class="lg:flex items-center"><img
          [src]="item.src"
          class="rounded-xl lg:w-350 lg:mb-4 sm:mb-4 max-[640px]:w-full mx-auto mb-4 shadow-lg shadow-gray-950"
          width="350px"
          alt="Imagem"
        />
        <p class="text-lg text-justify mb-4 lg:mb-0 lg:ml-5 lg:w-1.5/2">
          {{ item.content }}
        </p>
        
      </div>
    </ng-template>
    
  </div>
</div>

</app-default-page>