<app-menu></app-menu>

<div class="mb-20">
  <div class="shadow-lg shadow-gray-700/20 mb-24">
    <img [src]=banner alt="banner" />
  </div>
  <div
    *ngFor="let content of contentList"
    class="container mx-auto w-9/12 max-[640px]:w-11/12"
  >
    <h2 class="text-3xl font-semibold my-10">{{ content.title }}</h2>
    <p class="text-lg text-justify mb-8" [innerHTML]="content.text"></p>
    <img
      *ngIf="content.image"
      [src]="content.image"
      alt="imagem"
      class="rounded-md shadow-lg shadow-gray-950 w-96 mx-auto"
    />
  </div>
</div>

<app-footer></app-footer>
